/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;500;600&display=swap');

/*--------------------Colours */

body {
    background-color: #faebd7;
    color: #232323;
    text-align: center;
}

.page-section-color-bg {
    background-color: #ffffff;
}

/*--------------------Special paddings/ margins/ text */


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.title {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
}

.general-sub {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.sub-page-header {
    padding: 30px 0 15px 0;
    font-size: xx-large;
}

.inline-block {
    display: inline-block;
}

.row-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-section-plain-bg {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.right-hand-text,
.left-hand-text {
    padding-top: 30px;
}

.two-buttons {
    padding-top: 15px;
    padding-bottom: 30px;
}

.two-buttons button {
    margin: 5px;
}

.exhibition-text {
    line-height: 2;
}

.visit-text {
    padding: 15px 0 15px 0;
}

/*--

.services-text {
    padding-top: 15px
}

.single-button {
    padding-bottom: 30px;
    margin: 0;
}

--*/

/*--------------------Heading */

header {
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.logo {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
    margin: 20px;
    font-size: xx-large;
    text-decoration: none;
}

header hr {
    margin: 0px;
}

.jumbotron {
    height: 40vh;
    background: url('../images/canvas-large-crop-blue-Row-Gallery.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding-bottom: 0px;
    padding-left: 0px;

    position: relative;
    /*overflow: hidden;*/
}

.jumbotron .container {
    margin-left: 0;
    padding-left: 2%;
    padding-top: 2%;
}

.wave-background {
    width: 100%;
    /*overflow: hidden;*/
    z-index: 1;
}

/*
.hero-byline {
    z-index: 2;
    position: absolute;
}
*/

.lead-hero {
    text-align: center;
    padding: 15px 30px 30px 30px;
}

/*--------------------Page Headings */

.page-nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

/*-------------------- Buttons */

.btn-outline-light i,
.btn-outline-dark i {
    font-size: 12px;
    padding: 0 0 0 5px;
}

.btn-outline-light,
.btn-outline-dark {
    border-color: #232323;
    color: #232323;
}

.btn-outline-dark:hover {
    color: #faebd7;
    background-color: #232323;
}

.btn-outline-light:hover {
    background-color: #faebd7;
}

/* ---------------------------------------- Images */

.large-image {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.large-image .caption {
    padding-top: 15px;
}

.large-image img {
    max-width: 100%;
    max-height: 100%;
}

.small-image img {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    max-height: 100%;
}

.artist-portrait img {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    max-height: 100%;
}

/*
.small-image {
    overflow: clear;
}
*/

/* ----------------------------------------Footer */

footer {
    background-color: #ccbeaa;
    color: #232323;
    min-height: 120px;
    margin: 0;
}

#footer-details {
    padding: 30px 15px 15px 15px;
}

.social-links li a i {
    font-size: 32px;
    text-align: center;
    color:#232323;
    margin: 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #635422;
}

footer hr {
    margin: 0px;
}

.copyright {
    padding-top: 15px;
    padding-bottom: 30px;
}

/* ----------------------------------------Map */
/* from coders coffee house project */
#map-wrapper {
    height: 410px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/*---------------------------------------- Form */

.btn-dark {
    width: 30%;
    color: #ffffff;
    background-color: #232323;
}

.btn-dark:hover {
    color: #232323;
    background-color: #faebd7;
    border-color: #faebd7;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .jumbotron {
        background: url('../images/canvas-large-crop-Row-Gallery.jpg') no-repeat center fixed;
        /*bbackground: url('../images/Row-Gallery-Splash-artwork-5.jpg') no-repeat center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media(min-width: 768px) {
        #map-wrapper {
            height: 300px;
        }
}

@media(min-width: 1024px) {
    #map-wrapper {
        height: 410px;
    }
}
