/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;500;600&display=swap');

/*--------------------Colours */

body {
    background-color: #faebd7;
    color: #232323;
    text-align: center;
}

.home-section-color-bg {
    background-color: #ffffff;
}

/*--------------------Special paddings/ margins/ text */


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.title {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
}

.general-sub {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.inline-block {
    display: inline-block;
}

/*--------------------Heading */

header {
    margin: 0;
}

.logo {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
    margin: 20px;
    font-size: xx-large;
    text-decoration: none;
}

.jumbotron {
    height: 40vh;
    background: url('../images/canvas-large-crop-blue-Row-Gallery.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding-bottom: 0px;
    padding-left: 0px;

    position: relative;
    overflow: hidden;
}

.jumbotron .container {
    margin-left: 0;
    padding-left: 2%;
    padding-top: 2%;
}

.wave-background {
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

/*
.hero-byline {
    z-index: 2;
    position: absolute;
}
*/

.lead-hero {
    text-align: center;
    padding: 0 15px 30px 15px;
}

/*--------------------Home page */

.row-homepage {
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-image {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.home-image img {
    max-width: 100%;
    max-height: 100%;
}

.right-hand-text,
.left-hand-text {
    padding-top: 30px;
}

.left-hand-text button i,
.right-hand-text button i {
    font-size: 12px;
    padding: 0 0 0 5px;
}

.left-hand-text button,
.right-hand-text button {
    border-color: #232323;
    color: #232323;
}

.right-hand-text button:hover {
    background-color: #faebd7;
}

.left-hand-text button:hover {
    color: #faebd7;
    background-color: #232323;
}


/* ----------------------------------------Footer */

footer {
    background-color: #ccbeaa;
    color: #232323;
    min-height: 120px;
    margin: 0;
}

.footer-address {
    padding-bottom: 10px;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    font-size: 32px;
    text-align: center;
    color:#232323;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #635422;
}

#footer-details {
    padding: 20px;
}

.copyright {
    display: flex;
    align-items: flex-end;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .jumbotron {
        background: url('../images/canvas-large-crop-Row-Gallery.jpg') no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

